/* ============== GLOBAL STYLES ============= */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
}
button {
  line-height: 0;
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*============= CONTAINER =========*/
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

/*========  MOBILE HEADER ==========*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  padding: 16px 0;
}
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
}
.logo-accent {
  color: #2e2f42;
}
.menu-list {
  display: none;
}

.mobile-menu-open-button {
  border: none;
  background-color: transparent;
  fill: #2f2f37;
}
.contact {
  display: none;
}

/* ================ / MOBILE HEADER ===== */
/* -------------------------------------------- */
/*========== MOBILE HERO =========*/
.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px 432px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  padding: 72px 0;
}
.hero-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 288px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
.hero-button {
  cursor: pointer;
  color: inherit;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

@media screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2ddpx) and (min-width: 320px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mobile@2x.jpg);
  }
}
/*========== /MOBILE HERO =========*/
.section {
  padding: 96px 0;
}
/* ================ MOBILE SECTION ADVANTAGES=========== */
.advantages-flex {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.advantages-list-item {
  width: 100%;
}

.advantages-icon {
  display: none;
}
.advantages-title {
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.advantages-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ================ /MOBILE SECTION ADVANTAGES=========== */
/* --------------------------------------------- */
/* ======================= MOBILE TEAM ============== */
.team {
  background-color: #f4f4fd;
  text-align: center;
}
.section-title {
  color: #2e2f42;
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-list-item {
  background-color: #ffffff;
  width: 264px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.employee {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.social-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.social-icon-list-item {
  width: 40px;
  height: 40px;
}
.social-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #f4f4fd;
}
.social-icon-link:hover,
.social-icon-link:focus {
  background-color: #404bbf;
}
/* ===================== /MOBILE TEAM============ */
/* --------------------------------------------- */
/* ============ MOBILE PORTFOLIO =========== */
.app-title {
  text-align: left;
}
.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.portfolio-list-item {
   border: 1px solid #f4f4fd;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-container-img-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .overlay {
  transform: translateY(0%);
}
.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.application {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* =================== /MOBILE PORTFOLIO=============== */
/* ---------------------------------------------- */
/* =====================MOBILE FOOTER=============== */
.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  padding: 96px 0;
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.footer-link {
  color: #4d5ae5;
  display: block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
}
.logo-footer-accent {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.footer-center {
  margin-right: auto;
  margin-left: auto;
}
.social-text {
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
}
.footer-social-icon-list {
  gap: 16px;
}
.footer-social-icon-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon-link:hover,
.footer-social-icon-link:focus {
  background-color: #31d0aa;
}
.form-footer-input {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-input {
  width: 288px;
  height: 40px;
  background-color: inherit;
  border-radius: 4px;
  border: 1px solid #ffffff;
  opacity: 0.3;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.footer-input::placeholder {
  color: #ffffff;
}
.footer-submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 165px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 24px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-submit-button:hover,
.footer-submit-button:focus {
  background-color: #404bbf;
}
.icon-footer-button {
  fill: #fff;
  margin-left: 16px;
}
/* ==================== /MOBILE FOOTER============= */
/* ============== BACKDROP=========== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* ============= MOBILE MODAL WINDOW ======= */
.modal-windows-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  height: 623px;
  padding: 72px 16px 24px 16px;
  border-radius: 4px;
  border: none;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close {
  padding: 0;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover,
.button-close:focus {
  fill: #fff;
  border: none;
  background-color: #404bbf;
}
.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.container-modal-field {
  margin-bottom: 8px;
}
.form-label {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
}
.container-form-input {
  position: relative;
}
.form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: #4d5ae5;
}
.icon-modal-input {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}
.form-input:focus + .icon-modal-input {
  fill: #4d5ae5;
}
.container-modal-field-textarea {
  margin-bottom: 16px;
}
.form-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: 0px solid transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment:focus {
  border-color: #4d5ae5;
}
.form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
  line-height: 1.17;
  letter-spacing: 0.04em;
}
/* =============== CASTOM CHECKBOX ========= */
.container-modal-checkbox {
  margin-bottom: 24px;
}
.form-label-checkbox {
  display: flex;
  align-items: center;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.form-own-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked + .form-label-checkbox > .form-own-checkbox {
  background-color: #404bbf;
  border-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.form-checkbox:focus + .form-label-checkbox > .form-own-checkbox {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}
.form-own-checkbox-icon {
  fill: #f4f4fd;
  opacity: 0;
}
.form-checkbox:checked + .form-label-checkbox .form-own-checkbox-icon {
  opacity: 1;
}

.modal-privacy-policy {
  text-decoration: underline;
  color: #4d5ae5;
  line-height: 1.33;
}
.form-button-submit {
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-list {
  justify-content: flex-start;
  gap: 40px;
}
/* ============= /MOBILE MODAL WINDOW ======= */
/* ------------------------------------------ */
/* ============ WINDOW MOBILE MENU ========= */
.window-menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  display: flex;
  padding-bottom: 40px;
  background-color: #ffffff;
}
.mobile-menu-container{
  display: flex;
  flex-direction: column;
  padding-top: 72px;
}
.mobile-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}
.mobile-navigation {
  margin-bottom: auto;
}
.menu-mobile {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu-mobile-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
}

.current {
  position: relative;
  }
.mobile-contact {
  margin-bottom: 48px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.mobile-contact-navigation {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile-contact-link {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-contact-link:hover,
.mobile-contact-link:focus {
  color: #4d5ae5;
}
.accent-link{
  color:#4d5ae5;
}
/* ============ /WINDOW MOBILE MENU ========= */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /* ============ TABLET HEADER ======== */
  .header {
    padding: 0;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-right: 120px;
  }
  .menu-list {
    display: flex;
    gap: 40px;
  }
  .link {
    display: block;
    padding: 24px 0;
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link:hover,
  .link:focus,
  .active {
    color: #404bbf;
  }
.current{
  color: #404bbf;
}
  .link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }
  .mobile-menu-open-button {
    display: none;
  }
  .contact {
    display: block;
    font-size: 12px;
    font-style: normal;
  }
  .contact-navigation {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contact-link {
    color: inherit;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-link:hover,
  .contact-link:focus {
    color: #404bbf;
  }

  /* ============ /TABLET HEADER ======== */
  /* -------------------------------------- */
  /* ============ TABLET HERO ======== */
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tablet.jpg);
    background-size: 768px 436px;
    padding: 112px 0;
  }
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
  /* ============ /TABLET HERO ======== */
  /* ----------------------------------------------- */
  /* ============TABLET ADVANTAGES=========== */
  .team-container{
    width: 584px;
  }
  .advantages-flex {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .advantages-list-item {
    width: calc((100% - 24px) / 2);
  }
  .advantages-title {
    text-align: left;
  }
  /* ============ /TABLET ADVANTAGES=========== */
  /* ----------------------------------------------- */
  /* ================TABLET TEAM================== */
  
  .team-list {
    
    row-gap: 64px;
  }
  .team-list-item {
    width: calc((100% - 24px) / 2);
  }

  /* ================ /TABLET TEAM================== */
  /* ------------------------------------------- */
  /* ================TABLET PORTFOLIO============ */
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
  /* ================ /TABLET PORTFOLIO=========== */
  /* ----------------------------------------------- */
  /* ==================TABLET FOOTER================= */

  .footer-container {
    width: 584px;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .footer-link {
    text-align: left;
  }
  .footer-center {
    margin-left: 0;
  }
  .social-text {
    text-align: left;
  }
  .form-footer-input {
    flex-direction: row;
    gap: 24px;
  }
  .footer-input {
    width: 264px;
  }
  /* ================== /TABLET FOOTER================= */
  /* --------------------------------------------- */
  /* ===================TABLET MODAL WINDOW========== */
  .modal-windows-container {
    width: 408px;
    height: 584px;
    padding: 72px 25px 24px 23px;
  }
  /* =================== /TABLET MODAL WINDOW========== */
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2ddpx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  /* ========== DESKTOP HEADER ======= */

  .logo {
    margin-right: 76px;
  }
  .contact {
    font-size: 16px;
  }
  .contact-navigation {
    flex-direction: row;
    gap: 40px;
  }
  /* ========== /DESKTOP HEADER ======= */
  /* ----------------------------------------------- */
  /* ============ DESKTOP HERO =================== */
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-desktop.jpg);
    background-size: 1440px 600px;
    max-width: 1440px;
    padding: 188px 0;
  }
  .hero-title {
    margin-bottom: 48px;
  }
  /* ============ /DESKTOP HERO =================== */
  /* ---------------------------------------------- */
  /* =============DESKTOP ADVANTAGES============== */
  .advantages-list-item {
    width: calc((100% - 72px) / 4);
  }
  .advantages-icon {
    background-color: #f4f4fd;
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }
  .advantages-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 8px;
  }
  .advantages-text {
    font-weight: 400;
    margin-bottom: 8px;
  }
  /* ============= /DESKTOP ADVANTAGES============== */
  /* ------------------------------------------------- */
  /* ==============DESKTOP TEAM==================== */
  .team-list {
    padding: 0;
  }
  .team-list-item {
    width: calc((100% - 72px) / 4);
  }
  /* ============== /DESKTOP TEAM==================== */
  /* -------------------------------------------- */
  /* =============DESKTOP PORTFOLIO============= */
  .portfolio-list {
    row-gap: 48px;
  }
  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }
  /* ============= /DESKTOP PORTFOLIO============= */
  /* -------------------------------------------- */
  /* ==============DESKTOP FOOTER ============ */
  .footer {
    padding: 100px 0;
  }
  .footer-left {
    margin-right: 120px;
  }
  .footer-input {
    opacity: 1;
  }
  /* ============= /DESKTOP FOOTER ============ */
  /* ----------------------------------------- */
  /* ============= DESKTOP MODAL WINDOW======== */
  .modal-windows-container {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
  /* ============= /DESKTOP MODAL WINDOW======== */
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2ddpx) and (min-width: 1158px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-desktop@2x.jpg);
  }
}
